# Name: JAR_Plugin

# Description:
# This plugin demonstrates how plugins can be packaged in
# a JAR file and installed in multiple ImageJ menus.

# Author: Wayne Rasband
# Version: 1.2
# Date: 2003/12/15
# Requires: ImageJ 1.31s

# The information above may be used by a future plugin manager.

Plugins, "DelaunayClustering", DelaunayClustering_("")
